html {
  height: 100vh;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
.parallax {
  transform-style: preserve-3d;
}
.bodyRelease {
  perspective: 1px;
  padding-top: 20vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
.pictureRelease {
  display: flex;
  position: absolute;
  transform: translateZ(-1px) scale(2.2);
  padding-bottom: 100px;
  transform-style: preserve-3d;
}
.picture {
  width: 500px;
}

.pictureRelease {
  padding-bottom: 0;
}
.newRelHead {
  color: aquamarine;
  font-size: 5vw;
  text-decoration: none;
  transform-style: preserve-3d;
}
.textIcons {
  color: aquamarine;
}
.sitesRelease {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0px;
}
.slider {
  z-index: 00;
  transform: rotate(90deg);
  background: #781717; /* Grey background */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  left: -25px;
  width: 200px;
  height: 10px;
  display: flex;
  top: 200px;
  background: aquamarine;
  outline: none;
  border-radius: 10px;
  opacity: 0.2;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  transition: 500ms;
  scale: 0.5;
  transform-origin: 50% 50%;
}

.slider:hover {
  opacity: 1;
  scale: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  border-radius: 50%;

  width: 10px;
  height: 10px;
  background: rgb(91, 180, 150);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: rgb(91, 180, 150);
  cursor: pointer;
}

@media (max-width: 850px) {
  .picture {
    width: 300px;
  }
}
